<html>
    <head>
        <title>Transfer Style</title>      	
        <meta http-equiv=”refresh” content=”5" /> <!-- Auto refresh -->
    </head>
    <body>
<h1 style="text-align: center;"><span style="color: #33cccc;"><strong>Transfer Style</strong></span><span style="color: #000000;"><strong> <br /></strong></span></h1>
<table style="height: 384px; width: 928px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 300px;">
<h1 style="text-align: center;"><span style="color: #33cccc;"><strong><img src="{{url_for('static', filename='content.jpg')}}" alt="" width="300" height="300" /></strong></span></h1>
</td>
<td style="width: 351px;">
<h1>+</h1>
</td>
<td style="width: 249px;">
<h1 style="text-align: center;"><span style="color: #33cccc;"><strong><img src="{{url_for('static', filename='style.jpg')}}" alt="" width="300" height="300" /></strong></span></h1>
</td>
<td style="width: 249px;">
<h1>==&gt;</h1>
</td>
<td style="width: 76px;">
<h1 style="text-align: center;"><span style="color: #33cccc;"><strong><img src="{{url_for('static', filename='target.jpg')}}" alt="" width="300" height="300" /></strong></span></h1>
</td>
</tr>
<tr>
<td style="width: 300px;">
<h1 style="text-align: center;"><span style="color: #000000;"><strong>Content</strong></span></h1>
</td>
<td style="width: 351px;">&nbsp;</td>
<td style="width: 249px;">
<h1 style="text-align: center;"><span style="color: #000000;"><strong>Style</strong></span></h1>
</td>
<td style="width: 249px;">&nbsp;</td>
<td style="width: 76px;">
<h1 style="text-align: center;"><span style="color: #000000;"><strong>Target</strong></span></h1>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
    </body>
</html>
